body {
  font-family: 'Montserrat', sans-serif;
  background-color: #191919;
  font-size: 150%;
}
.main {
  height: 97vh;
  width: 100%;
  text-align: center;
  color: #96d7ff;
}
span.akry h1{
  font-size: 72px;
  background: rgb(135,255,193);
  background: linear-gradient(90deg, rgba(135,255,193,1) 0%, rgba(153,135,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
mark {
  background-color: transparent;
  color: #96fcff;
}
p {
  width: auto;
}
