body{
  font-family: 'Rubik', sans-serif;
  display: grid;
  overflow: hidden;
  height: 100vh;
  place-items: center;
  background-image: url(background.jpg);
  margin: 0px;
  padding: 0px;
}
.main{
  text-align: center;
  color: white;
  padding: 20% 0% 20% 0%
}
.container{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}
.main h1{
  margin: 0px;
  padding: 15px;
  font-size: 400%;
  line-height: 60%;
  background: linear-gradient(90deg, rgba(73,96,255,1) 0%, rgba(119,217,255,1) 25%, rgba(119,217,255,1) 50%, rgba(73,96,255,1) 75%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 3s linear infinite;
}
header .prns {
  display: none;
}

header:hover .akry {
  display: none;
}

header:hover .prns {
  display: inline;
}
.main p{
  font-size: 160%;
  line-height: 70%;
  font-weight: 300;
}
@keyframes animate{
  to{
    background-position: 200% center;
  }
}
mark{
  font-weight: 400;
  background-color: transparent;
  background: linear-gradient(90deg, rgba(73,255,111,1) 0%, rgba(203,255,119,1) 25%, rgba(203,255,119,1) 50%, rgba(73,255,111,1) 75%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 5s linear infinite;
}
span.links{
  letter-spacing: 20px;
}